.category > ul {
  padding: 0.26667rem 0.26667rem 0.80001rem;
}
.category > ul > li .title {
  height: 1.06668rem;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  font-size: 0.53334rem;
  line-height: 1.06668rem;
  padding-left: 0.80001rem;
}
.category > ul > li .list > ul > li > a {
  display: block;
  width: 25%;
  height: 1.33335rem;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
  line-height: 1.33335rem;
  font-size: 0.320004rem;
}
