* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.m-fl {
  float: left;
}
.m-fr {
  float: right;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #666;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
header {
  height: 1.33335rem;
  background-color: #ff841d;
  padding: 0.26667rem;
}
header .logo {
  margin-top: 0.133335rem;
  width: 5.06673rem;
  height: 0.746676rem;
}
header a {
  display: block;
  width: 0.933345rem;
  height: 0.933345rem;
}
.search {
  padding: 0.26667rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.search input {
  width: 100%;
  height: 0.666675rem;
  border-radius: 0.400005rem;
  background-color: #eee;
  border: none;
  padding-left: 0.400005rem;
}
.search button {
  width: 15%;
  position: absolute;
  height: 0.666675rem;
  border-radius: 0.400005rem;
  top: 0.26667rem;
  right: 0.26667rem;
  border: none;
  background-color: #ff841d;
  color: #fff;
}
footer .f_button {
  border-bottom: 1px solid #ccc;
}
footer .f_button a {
  display: block;
  width: 33.33%;
  height: 40px;
  background-color: #eee;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
footer .f_button a span {
  display: inline-block;
  width: 15px;
  height: 15px;
}
footer .f_button a.login {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
footer .f_message {
  padding: 15px 0;
  background-color: #eee;
}
footer .f_message p {
  text-align: center;
}
footer .f_message p a {
  color: red;
}
.crumbs {
  height: 50px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}
.crumbs a {
  font-size: 16px;
  line-height: 50px;
}
.crumbs span {
  display: block;
  width: 60px;
  height: 30px;
  color: #666;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 10px 15px 0 0;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
.page {
  margin: 20px 0;
}
.page li {
  width: 33.3333%;
  float: left;
}
.page li a {
  display: inline-block;
  width: 60%;
  margin: 0 20%;
  height: 40px;
  line-height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.page li select {
  display: inline-block;
  width: 60%;
  margin: 0 20%;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 16px;
}
